<!DOCTYPE html>
<html>

   <head>
      <title>Image Search Abstraction Layer | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>[IN DEVELOPMENT] Image Search Abstraction Layer App by Alexander Kallaway</h1>
         <h2>One of Free Code Camp Backend Challenges</h2>
        <h3>Search for images</h3>
        <p>
          With this app, you can search for images and specify the page of results you want to view, and the app will send you a JSON with results back. The example below is looking for "funny animals" and displays page 9 of results.
        </p>
        <p>
          https://pic-search.glitch.me/api/imagesearch/funny%20animals?page=9
        </p>
        <h3>
          View recent searches
        </h3>
        <p>
          You can also view recent searches by going to this page:
        </p>
        <p>
          <a href="https://pic-search.glitch.me/api/latest/imagesearch"></a>https://pic-search.glitch.me/api/latest/imagesearch
        </p>
      </div>
   </body>

</html>
